<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
  <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>

  
<% else %>
  <div class="center hero-unit">
    <h1>Entera Magica Online</h1>

    <h2>
      Welcome to Entera Magica Online! 
      <br>We are the home of summoner <a href="#">Ares Emanus</a>, representative
      of Enteras!
      
    </h2>

    <%= link_to "Join the Fight!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>

  <!-- <%= link_to image_tag("rails1.png", alt: "Rails"), 'http://rubyonrails.org/' %> -->
  <div id="kirino"><center><%= image_tag("abb.png", :alt => "rss feed") %></center></div>
<% end %>